.about-block {
    --spacing: 12px;

    padding-bottom: var(--c-pad-bottom);
    }
.about-block._team {
    border-bottom: 1px solid var(--color-1);
    }
.about-block._home {
    position: relative;
    margin-bottom: var(--c-pad-bottom);
    padding-bottom: calc(var(--c-pad-bottom) * 2);
    padding-top: calc(var(--c-pad-top) * 2);
    }
.about-block._home:before {
    position: absolute;
    z-index: -1;
    left: -50vw;
    right: -50vw;
    top: 0;
    bottom: 0;
    background: var(--color-info);
    content: '';
    }
    .about-block__inner {
        margin: 0 calc(var(--spacing) * -1);
        display: flex;
        flex-flow: row nowrap;
        }
    ._home .about-block__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                            "photo title"
                            "photo text";
        grid-template-rows: auto;

        }
    .about-block__inner > * {
        padding: 0 var(--spacing);
        }
    .about-block__pic {
        position: relative;
        flex: 0 0 calc(100% / 5 * 2);
        }
    ._home .about-block__pic {
        grid-area: photo;
        }
        .about-block__pic img {
            height: 100%;
            width: 100%;
            /*max-width: 485px;*/
            display: block;
            object-fit: cover;
            }
    .about-block__info {
        flex: 1 1 100%;
        }
        .about-block__info-title {
            margin-bottom: 32px;
            /*max-width: 800px;*/
            display: block;
            font-family: var(--font-secondary);
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px;
            }
        ._home .about-block__info-title {
            grid-area: title;
            align-self: end;
            }
        .about-block__info-text {
            /*max-width: 800px;*/
            }
        ._home .about-block__info-text {
            grid-area: text;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            }
            .about-block__info-text > * {
                margin-bottom: 26px;
                }
    .about-block__info-text .c-btn {
        width: auto;
        white-space: nowrap;
        }

@media (max-width: 1199px) {
    .about-block._home {
        padding-bottom: var(--c-pad-bottom);
        padding-top: var(--c-pad-top);
        }
    .about-block__pic {
        /*padding-right: 60px;*/
        }
    ._home .about-block__pic {
        margin-bottom: 32px;
        }
    .about-block__info-title {
        font-size: 46px;
        line-height: 54px;
        }
    ._home .about-block__inner {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
                            "title title"
                            "photo spacer"
                            "text text";
        grid-template-rows: auto;
        }
    ._home .about-block__pic {
        grid-area: photo;
        }
    ._home .about-block__info {
        grid-area: text;
        }
    ._home .about-block__info-title {
        grid-area: title;
        }
    }

@media (max-width: 768px) {
    .about-block__inner {
        flex-wrap: wrap;
        }
        .about-block__pic {
            padding-right: 0px;
            margin-bottom: 32px;
            flex-basis: 50%;
            }
    }

@media (max-width: 767px) {
    .about-block__pic {
        flex-basis: 100%;
        }
    .about-block__info-title {
        font-size: 38px;
        line-height: 42px;
        }
    ._home .about-block__inner {
        grid-template-columns: 1fr;
        grid-template-areas:
                            "title"
                            "photo"
                            "text";
        }
    }


