.about-features {
    padding-top: var(--c-pad-top);
    }
    .about-features__item {
        margin-bottom: var(--c-pad-bottom);
        }
        .about-features__item-title {
            margin-bottom: 24px;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            }
        .about-features__item-text {

            }
        .about-features__controls {
            margin-top: 24px;
            display: flex;
            justify-content: flex-start;
            }
            .about-features__controls > .c-btn {
                margin-right: 24px;
                padding-left: 24px;
                padding-right: 24px;
                flex: 0 1 auto;
                width: auto;
                }


