.about-promo {
    position: relative;
    padding-bottom: var(--c-pad-bottom);
    padding-top: var(--c-pad-top);
    }
    .about-promo:before {
        position: absolute;
        z-index: -1;
        left: -50vw;
        right: -50vw;
        top: 0;
        bottom: 0;
        background: var(--color-info);
        content: '';
        }
    .about-promo__title {
        padding-bottom: var(--c-pad-bottom);
        text-align: center;
        }
        .about-promo__title .c-title {
            padding: 0 0 24px;
            }
        .about-promo__title-text {

            }
    .about-promo__video {
        position: relative;
        margin: 0 auto;
        max-width: 1250px;
        }
        .about-promo__video-icon {
            --icon-dimension: 112px;

            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: calc((var(--icon-dimension) / 2) * -1);
            margin-left: calc((var(--icon-dimension) / 2) * -1);
            width: var(--icon-dimension);
            height: var(--icon-dimension);
            display: block;
            text-decoration: none;
            cursor: pointer;
            }
        .about-promo__video-icon._play {
            background: url('../img/icons/i-play.svg') center;
            background-size: contain;
            }
        .about-promo__video img {
            height: 100%;
            width: 100%;
            display: block;
            object-fit: cover;
            }


