.breadcrumbs {
    padding-top: 24px;
    padding-bottom: var(--c-pad-bottom);
    /*margin-bottom: 6px;*/
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
    overflow-x: auto;
    }
.breadcrumbs._search,
.breadcrumbs._listing {
    margin-bottom: 6px;
    }
.breadcrumbs._listing {
    padding: 0;
    }
.breadcrumbs._search {
    padding-bottom: 0;
    }
    .breadcrumbs__divider,
    .breadcrumbs__item {
        flex-grow: 0;
        flex-shrink: 0;
        font-family: var(--font-main);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        white-space: nowrap;
        color: var(--color-4);
        cursor: pointer;
        }
    .breadcrumbs__divider {
        width: 20px;
        text-align: center;
        }
    .breadcrumbs__item {
        text-decoration: none;
        cursor: pointer;
        }
    .breadcrumbs__item:hover {
        text-decoration: none;
        color: var(--color-primary);
        }
    .breadcrumbs__item:last-child,
    .breadcrumbs__item:last-child:hover,
    .breadcrumbs__item._active,
    .breadcrumbs__item._active:hover {
        color: var(--color-primary);
        cursor: default;
        }

/*Media Queries*/

@media (max-width: 1599px) {

    }

@media (max-width: 1199px) {

    }

@media (max-width: 767px) {
    .breadcrumbs {
        --c-pad-bottom: 24px;
        }
    }

