.c-info {
    --icon-dimension: 24px;
    --label-fz: calc(var(--icon-dimension) * 0.75);

    overflow-x: auto;
    overflow-y: hidden;
    }

    .c-info__details {
        display: flex;
        flex-flow: row nowrap;
        }
    .search-page .c-info__details {
        flex-flow: row wrap;
        }
        .c-info__details-item {
            position: relative;
            padding-left: 32px;
            margin-right: 32px;
            margin-bottom: 10px;
            flex-grow: 0;
            flex-shrink: 0;
            font-size: var(--label-fz);
            /*font-size: 18px;*/
            font-weight: 400;
            white-space: nowrap;
            line-height: var(--icon-dimension);
            }
        .c-info__details-item:last-child {
            margin-right: 0;
            }
        .c-info__details-item:before {
            position: absolute;
            top: 0;
            left: 0;
            height: var(--icon-dimension);
            width: var(--icon-dimension);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
            }
        .c-info__details-item._bed:before {
            background-image: url(../img/icons/i-bed.svg);
            }
        .c-info__details-item._bath:before {
            background-image: url(../img/icons/i-bath.svg);
            }
        .c-info__details-item._square:before {
            background-image: url(../img/icons/i-square.svg);
            }
        .c-info__details-item._age:before {
            background-image: url(../img/icons/i-flag.svg);
            }
        .c-info__details-item._views:before {
            background-image: url(../img/icons/i-eye.svg);
            }

/*Media Queries*/

@media (max-width: 1599px) {

    }

@media (max-width: 1199px) {
    .search-page .c-info__details {
        flex-flow: row nowrap;
        }
    }

@media (max-width: 767px) {

    }


