.c-form {
    position: relative;
    margin: 0 -6px;
    display: flex;
    flex-flow: row wrap;
    }
    .c-form__unit {
        margin-bottom: 10px;
        padding: 0 6px;
        width: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        }
    .c-form__unit._half {
        width: 50%;
        }
        .c-form__unit-name {
            margin-bottom: 6px;
            display: inline-block;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            }
        .c-form__unit._reqiured .c-form__unit-name:after {
            display: inline-block;
            vertical-align: super;
            font-size: 10px;
            font-weight: 400;
            line-height: 0px;
            color: var(--color-alert);
            content: '*';
            }
        .c-form__unit-input,
        .c-form__unit-textarea {
            width: 100%;
            border: 1px solid var(--color-5);
            transition: var(--trans);
            }
        .c-form__unit-input:focus,
        .c-form__unit-textarea:focus {
            border-color: var(--color-1);
            outline: none;
            }
        .c-form__unit-input {
            padding: 0 12px;
            display: block;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 44px;
            }
        .c-form__unit-input::placeholder {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 44px;
            color: var(--color-primary);
            }
        .c-form__unit-textarea {
            padding: 0 12px;
            display: block;
            font-family: var(--font-main);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            }
        .c-form__unit-textarea::placeholder {
            font-family: var(--font-main);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: var(--color-primary);
            }

/*Media Queries*/

@media (max-width: 1599px) {

    }

@media (max-width: 1199px) {

    }

@media (max-width: 767px) {

    }


