.c-dropdown {
    --check-dimension: 20px;
    }
    .c-dropdown__btn {
        position: relative;
        padding: 12px 16px;
        width: 100%;
        display: block;
        border: 1px solid var(--btn-secondary-border);
        border-radius: var(--borrad);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        background: var(--btn-secondary);
        color: var(--color-primary);
        transition: var(--trans);
        cursor: pointer;
        }
    .c-dropdown__btn:hover {
        border-color: var(--btn-secondary-border);
        background: var(--btn-secondary);
        color: var(--color-primary);
        }
    .c-dropdown__btn._active {
        border: 1px solid var(--btn-primary-border);
        background: var(--btn-primary);
        color: var(--color-white);
        }
    .c-dropdown__btn._active:focus,
    .c-dropdown__btn._active:hover {
        border-color: var(--btn-primary-hover);
        background: var(--btn-primary-hover);
        color: var(--color-white);
        }
    .c-dropdown__list {
        position: absolute;
        z-index: 5;
        top: calc(100% - 1px);
        padding: 16px 0;
        min-width: 100%;
        border: 1px solid var(--color-primary);
        border-radius: var(--borrad);
        display: none;
        background: var(--color-white);
        }
    .c-dropdown:focus > .c-dropdown__list,
    .c-dropdown:hover > .c-dropdown__list {
        display: block;
        }
    .c-dropdown__section {
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid var(--color-5);
        }
    .c-dropdown__section:only-child,
    .c-dropdown__section:last-child {
        margin-bottom: 0;
        padding-bottom: 0px;
        border-bottom: none;
        }
    .c-dropdown__section._togglers,
    .c-dropdown__section._range {
        margin-left: 16px;
        margin-right: 16px;
        }
    .c-dropdown__section-list {
        display: flex;
        flex-flow: column nowrap;
        }
    ._togglers .c-dropdown__section-list,
    ._range .c-dropdown__section-list {
        flex-flow: row nowrap;
        }
        .c-dropdown__list-unit {
            position: relative;
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            cursor: pointer;
            transition: var(--trans);
            }
        ._range .c-dropdown__list-unit {
            margin-right: 16px;
            }
        ._range .c-dropdown__list-unit:last-child {
            margin-right: 0px;
            }
        .c-dropdown__list-title {
            margin-bottom: 16px;
            padding: 0 16px;
            flex: 0 0 100%;
            display: block;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            }
        .c-dropdown__section:only-child > .c-dropdown__list-title {
            display: none;
            }
        .c-dropdown__section._range > .c-dropdown__list-title {
            display: block;
            }
        ._togglers > .c-dropdown__list-title,
        ._range > .c-dropdown__list-title {
            padding: 0;
            }
        .c-dropdown__list-input {
            padding: 12px;
            /*padding: 10px 24px;*/
            width: 100%;
            min-width: 160px;
            display: block;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            border: 1px solid var(--color-5);
            }
        .c-dropdown__list-input::placeholder {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            font-family: var(--font-main);
            color: var(--color-primary);
            opacity: 0.45;
            }
        .c-dropdown__list-item {
            padding: 10px 16px;
            /*padding: 10px 24px;*/
            width: 100%;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            display: block;
            cursor: pointer;
            white-space: nowrap;
            }
        .c-dropdown__list-item._active,
        input:checked ~ .c-dropdown__list-item {
            background: var(--color-info);
            }
        .c-dropdown__list-item._disabled,
        input:disabled ~ .c-dropdown__list-item {
            opacity: 0.45;
            cursor: default;
            }
        ._checkboxes .c-dropdown__list-item,
        .c-dropdown__list-item._checkbox {
            padding-left: calc(var(--check-dimension) + 32px);
            white-space: nowrap;
            }
        ._checkboxes .c-dropdown__list-item:before,
        ._checkboxes .c-dropdown__list-item:after,
        .c-dropdown__list-item._checkbox:before,
        .c-dropdown__list-item._checkbox:after {
            position: absolute;
            transition: var(--trans);
            content: '';
            }
        ._checkboxes .c-dropdown__list-item:before,
        .c-dropdown__list-item._checkbox:before {
            z-index: 1;
            top: 12px;
            left: 16px;
            width: var(--check-dimension);
            height: var(--check-dimension);
            display: block;
            border: 1px solid var(--color-5);
            border-radius: var(--borrad);
            }
        ._checkboxes .c-dropdown__list-item:after,
        .c-dropdown__list-item._checkbox:after {
            z-index: 3;
            top: 12px;
            left: 16px;
            width: var(--check-dimension);
            height: var(--check-dimension);
            display: none;
            background: url('../img/icons/checkbox-checked-white.svg') center no-repeat;
            background-size: auto calc(var(--check-dimension) / 2);
            }
        ._checkboxes input:checked ~ .c-dropdown__list-item:before,
        input:checked ~ .c-dropdown__list-item._checkbox:before {
            border-color: var(--btn-primary);
            background: var(--btn-primary);
            }
        ._checkboxes input:checked ~ .c-dropdown__list-item:after,
        input:checked ~.c-dropdown__list-item._checkbox:after {
            display: block;
            }
        ._togglers .c-dropdown__list-item,
        .c-dropdown__list-item._toggler {
            border: 1px solid var(--color-5);
            border-right: none;
            }
        ._togglers .c-dropdown__list-unit:last-child .c-dropdown__list-item,
        .c-dropdown__list-unit:last-child .c-dropdown__list-item._toggler {
            border-right: 1px solid var(--color-5);
            }
        ._togglers .c-dropdown__list-item._active,
        ._togglers input:checked ~ .c-dropdown__list-item {
            border-color: var(--btn-primary);
            background: var(--btn-primary);
            color: var(--color-white);
            }
        ._togglers .c-dropdown__list-item:focus,
        ._togglers .c-dropdown__list-item:hover {
            border-color: var(--btn-primary-hover);
            background: var(--btn-primary-hover);
            color: var(--color-white);
            }

/*Media Queries*/

@media (max-width: 1599px) {

    }

@media (max-width: 1199px) {
    ._main .c-dropdown .c-dropdown__btn,
    ._main.c-dropdown__btn {
        display: none;
        }
    ._main .c-dropdown__section,
    ._main .c-dropdown__section:only-child,
    ._main .c-dropdown__section:last-child {
        margin-left: 16px;
        margin-right: 16px;
        padding-bottom: 24px;
        border-bottom: 1px solid var(--color-5);
        }
    ._main .c-dropdown__section._checkboxes {
        padding-bottom: 12px;
        }
    ._main .c-dropdown__section-list:nth-child(n) {
        flex-flow: row nowrap;
        }
    ._main .c-dropdown__section._checkboxes .c-dropdown__section-list {
        flex-flow: row wrap;
        }
    ._main .c-dropdown__section._checkboxes .c-dropdown__list-unit {
        margin-right: 12px;
        margin-bottom: 12px;
        width: auto;
        flex: 0 0 auto;
        }
    ._main .c-dropdown__list {
        position: relative;
        padding-top: 0;
        width: 100%;
        display: block;
        border-color: transparent;
        }
    ._main .search-page__controls-item:last-child .c-dropdown__list {
        border-bottom: none;
        }
    ._main .c-dropdown__section:nth-child(n) > .c-dropdown__list-title,
    ._main .c-dropdown__list-title {
        padding: 0;
        display: block;
        }
    ._main .c-dropdown__list-item {
        --check-dimension: -16px;

        white-space: nowrap;
        flex: 0 0 100%;
        text-align: center;
        }
    ._main .c-dropdown__list-item,
    ._main ._togglers .c-dropdown__list-item,
    ._main .c-dropdown__list-item._toggler {
        border: 1px solid var(--color-5);
        border-right: none;
        }
    ._main .c-dropdown__list-unit:last-child > .c-dropdown__list-item,
    ._main ._togglers .c-dropdown__list-unit:last-child > .c-dropdown__list-item,
    ._main .c-dropdown__list-unit:last-child > .c-dropdown__list-item._toggler {
        border-right: 1px solid var(--color-5);
        }
    ._main ._checkboxes .c-dropdown__list-item,
    ._main .c-dropdown__list-item._checkbox {
        margin-right: 16px;
        border: 1px solid var(--color-5);
        flex-basis: auto;
        }

    ._main ._checkboxes .c-dropdown__list-item:before,
    ._main ._checkboxes .c-dropdown__list-item:after,
    ._main .c-dropdown__list-item._checkbox:before,
    ._main .c-dropdown__list-item._checkbox:after {
        content: none;
        }
    ._main .c-dropdown__list-item._active,
    ._main input:checked ~ .c-dropdown__list-item {
        border-color: var(--btn-primary);
        background: var(--btn-primary);
        color: var(--color-white);
        }
    }

@media (max-width: 767px) {

    }



