.c-block {
    --mpv: 12px;

    padding-bottom: var(--c-pad-bottom);
    border-bottom: 1px solid var(--color-1);
    }
.c-block._borderless {
    border-bottom: 0;
    }
.c-block._nested {
    padding-bottom: 0;
    border-bottom: 0;
    }
    .c-block * {
        text-decoration: none;
        }
    .c-block .c-info {
        --icon-dimension: 20px;

        }
    .c-block__list {

        }
        .c-block__list--item {
            display: flex;
            flex-flow: column nowrap;
            }
    .c-block__tags {
        position: absolute;
        top: 8px;
        left: 8px;
        display: flex;
        opacity: 0;
        transition: all .5s ease;
        }
    *:hover > .c-block__tags {
        opacity: 1;
        }
        .c-block__tags-item {
            --alpha: 0.4;

            margin-right: 8px;
            padding: 4px 16px;
            border: 1px solid #FFFFFF;
            border-radius: 1px;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            background: rgba(0,0,0,var(--alpha));
            color: var(--color-white);
            transition: var(--trans);
            }
        .c-block__tags-item,
        .c-block__tags-item:hover {
            text-decoration: none;
            }
        .c-block__tags-item:hover {
            --alpha: 0.7;

            color: var(--color-white);
            }
    .c-block__pic {
        position: relative;
        margin-bottom: 16px;
        flex: 1 1 100%;
        }
        .c-block__pic img {
            height: 100%;
            width: 100%;
            display: block;
            object-fit: cover;
            }
    .c-block__desc {
        flex: 0 0 auto;
        }
        .c-block__desc-price {
            margin-bottom: 6px;
            display: flex;
            flex-flow: row nowrap;
            align-items: baseline;
            }
            .c-block__desc-price-value {
                font-family: var(--font-extra-1);
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
                }
            .c-block__desc-price-period {
                font-size: 16px;
                font-weight: 400;
                line-height: 20px;
                }
            .c-block__desc-price-period:before {
                margin: 0 4px;
                content: '/';
                }
        .c-block__desc-details {

            }
            .c-block__desc-details-item {

                }
        .c-block__desc-adress {
            margin-bottom: 28px;
            display: block;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            opacity: 0.45;
            }

        .c-block__desc-name {
            margin-bottom: 6px;
            font-family: var(--font-secondary);
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
            }
        .c-block__desc-job {
            margin-bottom: 16px;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            opacity: 0.45;
            }

        .c-block__desc-text {

            }
    .c-block__controls {
        margin-top: 32px;
        display: flex;
        justify-content: flex-start;
        }
        .c-block__controls > .c-btn {
            margin-right: 24px;
            padding-left: 24px;
            padding-right: 24px;
            flex: 0 1 auto;
            width: auto;
            }

    .c-block__list-controls {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        }
        .c-block__list-controls > .c-btn {
            margin-right: 24px;
            padding-left: 24px;
            padding-right: 24px;
            flex: 0 1 auto;
            width: auto;
            }

/*Media Queries*/

@media (max-width: 1599px) {

    }

@media (max-width: 1199px) {

    }

@media (max-width: 767px) {
    .c-block {
        --c-pad-bottom: 0px;
        }
        .c-block__controls {
            margin-bottom: 28px;
            }
        .c-block__list-controls {
            margin-bottom: 28px;
            justify-content: flex-start;
            }

    }


