.contact-details {
    padding-top: var(--c-pad-top);
    /*padding-bottom: var(--c-pad-bottom);*/
    /*display: flex;*/
    /*align-items: stretch;*/
    }
    .contact-details__inner {
        max-width: 515px;
        }
    .contact-details__unit {
        margin-bottom: var(--c-pad-bottom);
        /*flex: 0 0 50%;*/
        }
        .contact-details__title {
            margin-bottom: 12px;
            display: block;
            font-family: var(--font-secondary);
            font-size: 46px;
            font-style: normal;
            font-weight: 400;
            line-height: 54px;
            }
        .contact-details__desc {
            margin-bottom: 40px;
            }
        .contact-details__list {

            }
            .contact-details__list-item {
                --icon-dimension: 24px;

                position: relative;
                padding-left: 40px;
                margin-bottom: 16px;
                display: block;
                }
            .contact-details__list-item:before {
                position: absolute;
                top: 1px;
                left: 0;
                height: var(--icon-dimension);
                width: var(--icon-dimension);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                content: '';
                }
            .contact-details__list-item._license:before {
                background-image: url(../img/icons/i-card.svg);
                }
            .footer .contact-details__list-item._license:before {
                background-image: url(../img/icons/i-card-white.svg);
                }
            .contact-details__list-item._mail:before {
                background-image: url(../img/icons/i-mail.svg);
                }
            .footer .contact-details__list-item._mail:before {
                background-image: url(../img/icons/i-mail-white.svg);
                }
            .contact-details__list-item._phone:before {
                background-image: url(../img/icons/i-phone.svg);
                }
            .footer .contact-details__list-item._phone:before {
                background-image: url(../img/icons/i-phone-white.svg);
                }
            .contact-details__list-item._location:before {
                background-image: url(../img/icons/i-geo.svg);
                }
            .footer .contact-details__list-item._location:before {
                background-image: url(../img/icons/i-geo-white.svg);
                }
            .contact-details__list-item._time:before {
                background-image: url(../img/icons/i-clock.svg);
                }
        .contact-details__controls {
            margin-top: 40px;
            display: flex;
            justify-content: flex-start;
            }
            .contact-details__controls > .c-btn {
                margin-right: 24px;
                padding-left: 24px;
                padding-right: 24px;
                flex: 0 1 auto;
                width: auto;
                }

/*Media Queries*/

@media (max-width: 1599px) {

    }

@media (max-width: 1199px) {

    }

@media (max-width: 767px) {
    .contact-details__title {
        font-size: 38px;
        line-height: 42px;
        }
    }
