.disclaimer {
    padding-top: 40px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    }
    .disclaimer > * {
        margin-bottom: 22px;
        display: block;
        }

.footer .disclaimer {
    padding-top: 30px;
    padding-bottom: 30px;
    }
