.ed {
    --grid-gap: calc(100% / 12);

    padding-bottom: var(--c-pad-bottom);
    border-bottom: 1px solid var(--color-1);
    display: grid;
    grid-template-columns: 1fr 382px;
    grid-template-areas:
			"ed-layout ed-sidebar";
    column-gap: var(--grid-gap);
    }
    .ed__layout {
        grid-area: ed-layout;
        }
    .ed__sidebar {
        grid-area: ed-sidebar;
        }
    .ed__head {
        padding-bottom: 30px;
        border-bottom: 1px solid var(--color-1);
        display: flex;
        flex-direction: column;
        }
        .ed__head-title {
            padding: 15px 0;
            display: block;
            font-family: var(--font-secondary);
            font-size: 38px;
            font-style: normal;
            font-weight: 400;
            line-height: 42px;
            }
        .ed__head-price {
            padding: 10px 15px;
            margin-bottom: 24px;
            display: flex;
            flex-flow: row nowrap;
            align-self: flex-start;
            align-items: baseline;
            background: var(--color-info);
            }
            .ed__head-price-value {
                margin-right: 5px;
                font-size: 24px;
                font-weight: 400;
                line-height: 32px;
                }
            .ed__head-price-term {
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                opacity: 0.4;
                }
        .ed__head-details {
            margin-top: 24px;
            display: flex;
            overflow-x: auto;
            }
        .ed .c-info {
            --icon-dimension: 24px;

            padding-bottom: 10px;
            margin-top: 10px;
            margin-bottom: 14px;
            width: 100%;
            max-width: calc(100vw - (var(--c-pad-x) * 2));
            }
            .ed__head-details-item {
                --icon-dimension: 24px;

                position: relative;
                padding-left: 32px;
                margin-right: 32px;
                font-size: 18px;
                font-weight: 400;
                line-height: var(--icon-dimension);
                }
            .ed__head-details-item:last-child {
                margin-right: 0;
                }
            .ed__head-details-item:before {
                position: absolute;
                top: 0;
                left: 0;
                height: var(--icon-dimension);
                width: var(--icon-dimension);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                content: '';
                }
            .ed__head-details-item._bed:before {
                background-image: url(../img/icons/i-bed.svg);
                }
            .ed__head-details-item._bath:before {
                background-image: url(../img/icons/i-bath.svg);
                }
            .ed__head-details-item._square:before {
                background-image: url(../img/icons/i-square.svg);
                }
            .ed__head-details-item._age:before {
                background-image: url(../img/icons/i-flag.svg);
                }
            .ed__head-details-item._views:before {
                background-image: url(../img/icons/i-eye.svg);
                }

    .ed__main {
        column-count: 2;
        column-gap: 24px;
        column-fill: balance;
        }
        .ed__main__section {
            padding: 32px 0 24px;
            width: 100%;
            display: inline-block;
            border-bottom: 1px solid var(--color-6);
            }
            .ed__main__section > input {
                display: none;
                }
            .ed__main__section-inner {
                overflow: hidden;
                max-height: none;
                transition: var(--trans);
                }
            .ed__main__section-title {
                position: relative;
                margin-bottom: 12px;
                display: block;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px;
                }
            .ed__main__section-row {
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                }
                .ed__main__section-row-title {
                    margin-right: 8px;
                    display: inline;
                    opacity: 0.45;
                    }
                .ed__main__section-row-value {
                    display: inline;
                    }

/*Media Queries*/

@media (max-width: 1599px) {

    }

@media (max-width: 1199px) {
    .ed {
        --c-pad-x: 24px;

        grid-template-columns: 1fr;
        grid-template-areas:
			"ed-layout"
            "ed-sidebar";
        }
    }

@media (max-width: 767px) {
    .ed__main {
        column-count: 1;
        }
        .ed__head-title {
            font-size: 30px;
            line-height: 36px;
            }
    .ed__main__section-row {
        /*flex-flow: column;*/
        }
    .ed__main__section-inner {
        max-height: 0px;
        }
    .ed__main__section > input:checked ~ .ed__main__section-inner {
        max-height: 800px;
        }
        .ed__main__section-title {
            --icon-dimension: 20px;

            padding-right: 64px;
            }
        .ed__main__section-title:before {
            position: absolute;
            top: 5px;
            right: 22px;
            height: var(--icon-dimension);
            width: var(--icon-dimension);
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../img/icons/i-plus.svg);
            content: '';
            transition: var(--trans);
            }
    .ed__main__section > input:checked ~.ed__main__section-title:before {
            transform: rotateZ(45deg);
            }
    }



