.ec {
	--mpv: 12px;

	padding-bottom: var(--c-pad-bottom);
	border-bottom: 1px solid var(--color-1);
	}
	.ec__list {
		margin: 0 calc(0px - var(--mpv));
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		overflow-y: auto;
		}
		.ec__list-item {
			position: relative;
			padding: 0 var(--mpv);
			margin-bottom: calc(var(--mpv) * 2);
			flex-grow: 0;
			flex-shrink: 0;
			width: calc(100% / 3);
			}
		.ec__list-item:first-child,
		.ec__list-item._big {
			width: calc((100% / 5) * 3);
			}
		.ec__list-item:nth-child(2),
		.ec__list-item._medium {
			width: calc((100% / 5) * 2);
			}
		.ec__pic {
			position: relative;
			width: 100%;
			height: 320px;
			/*height: 100%;*/
			}
			.ec__pic img {
				height: 100%;
				width: 100%;
				display: block;
				object-fit: cover;
				}
			.ec__pic-shader {
				position: absolute;
				z-index: 2;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 30px;
				display: flex;
				flex-flow: column nowrap;
				justify-content: flex-end;
				align-items: center;
				background: linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,0.5));
				}
			.ec__pic-desc {
				text-align: center;
				color: var(--color-white);
				}
				.ec__pic-desc-name {
					font-family: var(--font-secondary);
					font-size: 30px;
					font-style: normal;
					font-weight: 400;
					line-height: 36px;
					}
				.ec__pic-desc-text {
					font-size: 14px;
					font-style: normal;
					font-weight: 400;
					line-height: 22px;
					}

/*Media Queries*/

@media (max-width: 1599px) {

	}

@media (max-width: 1199px) {
	.ec__list-item:nth-child(n) {
		width: calc(100% / 2);
		}
	.ec__list-item:first-child,
	.ec__list-item._big {
		width: 100%;
		}
	}

@media (max-width: 767px) {
	.ec {
		--c-pad-bottom: 0px;
		}
	.ec__list {
		flex-flow: row nowrap;
		}
	.ec__list-item:nth-child(n) {
		width: 100%;
		}
	}

