.feedback {
    position: relative;
    padding: 32px 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: var(--color-info);
    }
    .feedback__info {
        margin-bottom: 32px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        }
        .feedback__info-ava {
            --ava-size: 100px;

            position: relative;
            margin-bottom: 12px;
            width: var(--ava-size);
            height: var(--ava-size);
            border-radius: 50%;
            overflow: hidden;
            }
            .feedback__info-ava img {
                height: 100%;
                width: 100%;
                display: block;
                object-fit: cover;
                }
        .feedback__info-name {
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            }
        .feedback__info-status {
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            opacity: 0.45;
            }
    .feedback__form {
        overflow: hidden;
        }

/*Media Queries*/

@media (max-width: 1599px) {

    }

@media (max-width: 1199px) {

    }

@media (max-width: 767px) {
    .feedback {
        margin-left: calc(var(--c-pad-x) * -1);
        margin-right: calc(var(--c-pad-x) * -1);
        }
    }


