.footer {
    --grid-gap: 24px;
    --color-primary: var(--color-white);
    --socials-margin: 24px;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    overflow: hidden;
    color: var(--color-primary);
    background: var(--footer-bg-color);
    transition: var(--trans);
    }
    .footer._search-page,
    #search ~ .footer,
    .search-page ~ .footer {
        width: 50%;
        }
    ._search-page .footer__main,
    #search ~ .footer__main,
    .search-page ~ .footer__main {
        grid-template-columns: 1fr;
        grid-template-areas:
                                "logo"
                                "desc"
                                "contacts"
                                "copyright";
        grid-template-rows: auto;
        column-gap: var(--grid-gap);
        row-gap: var(--grid-gap);
        }
    .footer > *:not(:last-child) {
        border-bottom: 1px solid var(--footer-border-color);
        }
    .footer > *:first-child {
        border-bottom: 1px solid var(--footer-border-color);
        }
    .footer__main {
        padding-top: var(--c-pad-top);
        padding-bottom: var(--c-pad-bottom);
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas:
                            "logo contacts"
                            "desc contacts"
                            "copyright contacts";
        grid-template-rows: auto;
        column-gap: var(--grid-gap);
        row-gap: var(--grid-gap);
        }
        .footer__main-unit {

            }
        .footer__main-unit._logo {
            grid-area: logo;
            }
            .footer__main-unit._logo img {
                width: auto;
                height: auto;
                max-height: 53px;
                display: block;
                }
        .footer__main-unit._desc {
            grid-area: desc;

            max-width: 740px;
            }
        .footer__main-unit._copy {
            grid-area: copyright;
            }
        .footer__main-unit._contacts {
            grid-area: contacts;
            }
            .footer__copyright {
                display: flex;
                flex-flow: row nowrap;
                }
                .footer__copyright-item {
                    margin-right: 24px;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 22px;
                    opacity: 0.45;
                    }
                a.footer__copyright-item:hover {
                    opacity: 1;
                    }

/*Media Queries*/

@media (max-width: 1599px) {

    }

@media (max-width: 1199px) {
    .footer._search-page,
    #search ~ .footer,
    .search-page ~ .footer {
        width: 100%;
        }
    .footer__main {
        grid-template-columns: 1fr;
        grid-template-areas:
                            "logo"
                            "desc"
                            "contacts"
                            "copyright";
        grid-template-rows: auto;
        column-gap: var(--grid-gap);
        row-gap: var(--grid-gap);
        }
    }

@media (max-width: 767px) {
    .footer {
        --c-pad-bottom: 30px;
        --c-pad-top: 30px;
        }
        .footer__copyright {
            flex-direction: column;
            }
        .footer__main-unit._logo img {
            max-height: 40px;
            }
    }

