.gal {
	--grid-gap: 12px;

	margin: 0 0 32px;
	/*margin: 0 calc(var(--c-pad-x) * -1) 32px;*/
	width: 100%;
	max-height: 630px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-areas:
		"main-img sec-img-1"
		"main-img sec-img-2"
		"gal-slider gal-slider";
	grid-template-rows: calc((((100% / 6) * 5) / 2) - var(--grid-gap)) calc((((100% / 6) * 5) / 2) - var(--grid-gap)) calc(100% / 6);
	/*grid-template-rows: 1fr 1fr auto;*/
	column-gap: var(--grid-gap);
	row-gap: var(--grid-gap);
	border-bottom: 1px solid var(--color-6);
	}
	.gal img {
		height: 100%;
		width: 100%;
		display: block;
		object-fit: cover;
		}
	.gal__main {
		position: relative;
		grid-area: main-img;
		}
		.gal__main-btn,
		.gal__main-btn:focus,
		.gal__main-btn:hover {
			text-decoration: none;
			border: 1px solid;
			color: var(--color-white);
			outline: none;
			}
		.gal__main-btn {
			position: absolute;
			bottom: 0;
			right: 0;
			padding: 12px 20px;
			font-size: 18px;
			font-weight: 400;
			line-height: 26px;
			opacity: 0.9;
			border-color: var(--btn-primary);
			background: var(--btn-primary);
			display: none;
			}
		.gal__main-btn:focus,
		.gal__main-btn:hover {
			border-color: var(--btn-primary-hover);
			background: var(--btn-primary-hover);
			}
	.gal__sec {

		}
	.gal__sec._first {
		grid-area: sec-img-1;
		}
	.gal__sec._second {
		grid-area: sec-img-2;
		}

	.gal__slider {
		grid-area: gal-slider;
		margin: 0 calc(var(--grid-gap) / 2 * -1);
		/*margin: 0 calc(var(--grid-gap) * -1);*/
		display: flex;
		flex-flow: row nowrap;
		overflow-x: auto;
		}
		.gal__slider-item {
			position: relative;
			padding: 0 calc(var(--grid-gap) / 2);
			margin-bottom: var(--grid-gap);
			flex: 0 0 calc(100% / 9);
			display: block;
			cursor: pointer;
			}
			.gal__slider-item-icon {
				--icon-dimension: 60px;

				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: calc((var(--icon-dimension) / 2) * -1);
				margin-left: calc((var(--icon-dimension) / 2) * -1);
				width: var(--icon-dimension);
				height: var(--icon-dimension);
				display: block;
				}
			.gal__slider-item-icon._marker {
				background: url('../img/icons/i-marker.svg') center;
				background-size: contain;
				}
			.gal__slider-item-icon._play {
				background: url('../img/icons/i-play.svg') center;
				background-size: contain;
				}

/*Media Queries*/

@media (max-width: 1599px) {
	.gal {
		max-height: 595px;
		}
	.gal__slider-item-icon {
		--icon-dimension: 50px;
		}
	}

@media (max-width: 1199px) {
	.gal {
		max-height: 520px;
		grid-template-columns: 1fr;
		grid-template-areas:
			"main-img"
			"gal-slider";
		grid-template-rows: calc(((100% / 6) * 5) - var(--grid-gap)) calc(100% / 6);
		/*grid-template-rows: 1fr auto;*/
		}
		.gal__main-btn {
			display: block;
			}
		.gal__sec {
			display: none;
			}
	.gal__slider-item {
		padding: 0 calc(var(--grid-gap) / 2);
		margin-bottom: var(--grid-gap);
		flex: 0 0 calc(100% / 7);
		}
		.gal__slider-item-icon {
			--icon-dimension: 44px;
			}
	}

@media (max-width: 767px) {
	.gal {
		max-height: 320px;
		grid-template-rows: calc(((100% / 4) * 3) - var(--grid-gap)) calc(100% / 4);
		}
	.gal__slider-item {
		flex: 0 0 calc(100% / 3.3);
		}
	}



