:root {
	--mpv: 15px;
	}

* {
    box-sizing: border-box;
    }

*::before, *::after {
    box-sizing: border-box;
    }

/*Grid*/

.grid {
    position: relative;
    margin: 0 calc(0px - var(--mpv));
    /*margin: 0 -15px;*/
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    }
	.grid__item {
		position: relative;
		padding: 0 var(--mpv);
		/*padding: 0 15px;*/
		flex-grow: 0;
		flex-shrink: 0;
		width: 100%;
		}
	.grid > .grid__item.grid {
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		}
	.grid._fluid > .grid__item {
		flex-grow: 1;
        flex-shrink: 0;
		}
	.grid._fluid > .grid__item:nth-child(even) {
		flex-grow: 0;
        flex-shrink: 0;
		}

.grid._2 {
    }
    .grid._2 > .grid__item {
        width: calc(100% / 2);
        }

.grid._3 {
    }
    .grid._3 > .grid__item {
        width: calc(100% / 3);
        }

.grid._4 {
    }
    .grid._4 > .grid__item {
        width: calc(100% / 4);
        }

.grid._5 {
    }
    .grid._5 > .grid__item {
        width: calc(100% / 5);
        }

.grid._6 {
    }
    .grid._6 > .grid__item {
        width: calc(100% / 6);
        }

.grid._2-1 {
    }

    .grid._2-1 > .grid__item {
        width: calc(100% / 3 * 2);
        }
    .grid._2-1 > .grid__item:nth-child(2n) {
        width: calc(100% / 3);
        }

.grid._1-2 {
    }
    .grid._1-2 > .grid__item {
        width: calc(100% / 3);
        }
    .grid._1-2 > .grid__item:nth-child(2n) {
        width: calc(100% / 3 * 2);
        }

.grid._3-1 {
    }
    .grid._3-1 > .grid__item {
        width: calc(100% / 4 * 3);
        }
    .grid._3-1 > .grid__item:nth-child(2n) {
        width: calc(100% / 4);
        }

.grid._1-3 {
    }
    .grid._1-3 > .grid__item {
        width: calc(100% / 4);
        }
    .grid._1-3 > .grid__item:nth-child(2n) {
        width: calc(100% / 4 * 3);
        }

.grid._1-2-1 {
    }
    .grid._1-2-1 > .grid__item {
        width: calc(100% / 2);
        }
    .grid._1-2-1 > .grid__item:nth-child(3n+1) {
        width: calc(100% / 4);
        }
    .grid._1-2-1 > .grid__item:nth-child(3n) {
        width: calc(100% / 4);
        }

.grid._4-1 {
    }
    .grid._4-1 > .grid__item {
        width: calc(100% / 5 * 4);
        }
    .grid._4-1 > .grid__item:nth-child(2n) {
        width: calc(100% / 5);
        }

.grid._1-4 {
    }
    .grid._1-4 > .grid__item {
        width: calc(100% / 5);
        }
    .grid._1-4 > .grid__item:nth-child(2n) {
        width: calc(100% / 5 * 4);
        }

.grid._1-3-1 {
    }
    .grid._1-3-1 > .grid__item {
        width: calc(100% / 5 * 3);
        }
    .grid._1-3-1 > .grid__item:nth-child(3n+1) {
        width: calc(100% / 5);
        }
    .grid._1-3-1 > .grid__item:nth-child(3n) {
        width: calc(100% / 5);
        }

.grid._5-1 {
    }
    .grid._5-1 > .grid__item {
        width: calc(100% / 6 * 5);
        }
    .grid._5-1 > .grid__item:nth-child(2n) {
        width: calc(100% / 6);
        }

.grid._1-5 {
    }
    .grid._1-5 > .grid__item {
        width: calc(100% / 6);
        }
    .grid._1-5 > .grid__item:nth-child(2n) {
        width: calc(100% / 6 * 5);
        }

.grid._1-4-1 {
    }
    .grid._1-4-1 > .grid__item {
        width: calc(100% / 3 * 2);
        }
    .grid._1-4-1 > .grid__item:nth-child(3n+1) {
        width: calc(100% / 6);
        }
    .grid._1-4-1 > .grid__item:nth-child(3n) {
        width: calc(100% / 6);
        }

/*Uncommon sizes*/

.grid._2-3 {
    }
    .grid._2-3 > .grid__item {
        width: calc(100% / 5 * 2);
        }
    .grid._2-3 > .grid__item:nth-child(2n) {
        width: calc(100% / 5 * 3);
        }

.grid._3-2 {
    }
    .grid._3-2 > .grid__item {
        width: calc(100% / 5 * 3);
        }
    .grid._3-2 > .grid__item:nth-child(2n) {
        width: calc(100% / 5 * 2);
        }

.grid._4-5 {
    }
    .grid._4-5 > .grid__item {
        width: calc(100% / 9 * 4);
        }
    .grid._4-5 > .grid__item:nth-child(2n) {
        width: calc(100% / 9 * 5);
        }

.grid._5-4 {
    }
    .grid._5-4 > .grid__item {
        width: calc(100% / 9 * 5);
        }
    .grid._5-4 > .grid__item:nth-child(2n) {
        width: calc(100% / 9 * 4);
        }

/*Tablet grid*/

@media (max-width: 1199px) {
    
    .grid._tablet {
        }
        .grid._tablet > .grid__item:nth-child(n) {
            width: 100%;
            }
    
    .grid._tablet-2 {
        }
        .grid._tablet-2 > .grid__item:nth-child(n) {
            width: calc(100% / 2);
            }
    
    .grid._tablet-3 {
        }
        .grid._tablet-3 > .grid__item:nth-child(n) {
            width: calc(100% / 3);
            }
    
    .grid._tablet-4 {
        }
        .grid._tablet-4 > .grid__item:nth-child(n) {
            width: calc(100% / 4);
            }
    
    .grid._tablet-5 {
        }
        .grid._tablet-5 > .grid__item:nth-child(n) {
            width: calc(100% / 5);
            }
    
    .grid._tablet-6 {
        }
        .grid._tablet-6 > .grid__item:nth-child(n) {
            width: calc(100% / 6);
            }
    
    .grid._tablet-2-1 {
        }
        .grid._tablet-2-1 > .grid__item {
            width: calc(100% / 3 * 2);
            }
        .grid._tablet-2-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 3);
            }
    
    .grid._tablet-1-2 {
        }
        .grid._tablet-1-2 > .grid__item {
            width: calc(100% / 3);
            }
        .grid._tablet-1-2 > .grid__item:nth-child(2n) {
            width: calc(100% / 3 * 2);
            }
    
    .grid._tablet-3-1 {
        }
        .grid._tablet-3-1 > .grid__item {
            width: calc(100% / 4 * 3);
            }
        .grid._tablet-3-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 4);
            }
    
    .grid._tablet-1-3 {
        }
        .grid._tablet-1-3 > .grid__item {
            width: calc(100% / 4);
            }
        .grid._tablet-1-3 > .grid__item:nth-child(2n) {
            width: calc(100% / 4 * 3);
            }
    
    .grid._tablet-1-2-1 {
        }
        .grid._tablet-1-2-1 > .grid__item {
            width: calc(100% / 2);
            }
        .grid._tablet-1-2-1 > .grid__item:nth-child(3n+1) {
            width: calc(100% / 4);
            }
        .grid._tablet-1-2-1 > .grid__item:nth-child(3n) {
            width: calc(100% / 4);
            }
    
    .grid._tablet-4-1 {
        }
        .grid._tablet-4-1 > .grid__item {
            width: calc(100% / 5 * 4);
            }
        .grid._tablet-4-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 5);
            }
    
    .grid._tablet-1-4 {
        }
        .grid._tablet-1-4 > .grid__item {
            width: calc(100% / 5);
            }
        .grid._tablet-1-4 > .grid__item:nth-child(2n) {
            width: calc(100% / 5 * 4);
            }
    
    .grid._tablet-1-3-1 {
        }
        .grid._tablet-1-3-1 > .grid__item {
            width: calc(100% / 5 * 3);
            }
        .grid._tablet-1-3-1 > .grid__item:nth-child(3n+1) {
            width: calc(100% / 5);
            }
        .grid._tablet-1-3-1 > .grid__item:nth-child(3n) {
            width: calc(100% / 5);
            }
    
    .grid._tablet-5-1 {
        }
        .grid._tablet-5-1 > .grid__item {
            width: calc(100% / 6 * 5);
            }
        .grid._tablet-5-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 6);
            }
    
    .grid._tablet-1-5 {
        }
        .grid._tablet-1-5 > .grid__item {
            width: calc(100% / 6);
            }
        .grid._tablet-1-5 > .grid__item:nth-child(2n) {
            width: calc(100% / 6 * 5);
            }
    
    .grid._tablet-1-4-1 {
        }
        .grid._tablet-1-4-1 > .grid__item {
            width: calc(100% / 3 * 2);
            }
        .grid._tablet-1-4-1 > .grid__item:nth-child(3n+1) {
            width: calc(100% / 6);
            }
        .grid._tablet-1-4-1 > .grid__item:nth-child(3n) {
            width: calc(100% / 6);
            }
        
    }

/*1280 grid*/

@media (max-width: 1280px) {

    .grid._1280 {
        }
        .grid._1280 > .grid__item:nth-child(n) {
            width: 100%;
            }

    .grid._1280-2 {
        }
        .grid._1280-2 > .grid__item:nth-child(n) {
            width: calc(100% / 2);
            }

    .grid._1280-3 {
        }
        .grid._1280-3 > .grid__item:nth-child(n) {
            width: calc(100% / 3);
            }

    .grid._1280-4 {
        }
        .grid._1280-4 > .grid__item:nth-child(n) {
            width: calc(100% / 4);
            }

    .grid._1280-5 {
        }
        .grid._1280-5 > .grid__item:nth-child(n) {
            width: calc(100% / 5);
            }

    .grid._1280-6 {
        }
        .grid._1280-6 > .grid__item:nth-child(n) {
            width: calc(100% / 6);
            }

    .grid._1280-2-1 {
        }
        .grid._1280-2-1 > .grid__item {
            width: calc(100% / 3 * 2);
            }
        .grid._1280-2-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 3);
            }

    .grid._1280-1-2 {
        }
        .grid._1280-1-2 > .grid__item {
            width: calc(100% / 3);
            }
        .grid._1280-1-2 > .grid__item:nth-child(2n) {
            width: calc(100% / 3 * 2);
            }

    .grid._1280-3-1 {
        }
        .grid._1280-3-1 > .grid__item {
            width: calc(100% / 4 * 3);
            }
        .grid._1280-3-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 4);
            }

    .grid._1280-1-3 {
        }
        .grid._1280-1-3 > .grid__item {
            width: calc(100% / 4);
            }
        .grid._1280-1-3 > .grid__item:nth-child(2n) {
            width: calc(100% / 4 * 3);
            }

    .grid._1280-1-2-1 {
        }
        .grid._1280-1-2-1 > .grid__item {
            width: calc(100% / 2);
            }
        .grid._1280-1-2-1 > .grid__item:nth-child(3n+1) {
            width: calc(100% / 4);
            }
        .grid._1280-1-2-1 > .grid__item:nth-child(3n) {
            width: calc(100% / 4);
            }

    .grid._1280-4-1 {
        }
        .grid._1280-4-1 > .grid__item {
            width: calc(100% / 5 * 4);
            }
        .grid._1280-4-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 5);
            }

    .grid._1280-1-4 {
        }
        .grid._1280-1-4 > .grid__item {
            width: calc(100% / 5);
            }
        .grid._1280-1-4 > .grid__item:nth-child(2n) {
            width: calc(100% / 5 * 4);
            }

    .grid._1280-1-3-1 {
        }
        .grid._1280-1-3-1 > .grid__item {
            width: calc(100% / 5 * 3);
            }
        .grid._1280-1-3-1 > .grid__item:nth-child(3n+1) {
            width: calc(100% / 5);
            }
        .grid._1280-1-3-1 > .grid__item:nth-child(3n) {
            width: calc(100% / 5);
            }

    .grid._1280-5-1 {
        }
        .grid._1280-5-1 > .grid__item {
            width: calc(100% / 6 * 5);
            }
        .grid._1280-5-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 6);
            }

    .grid._1280-1-5 {
        }
        .grid._1280-1-5 > .grid__item {
            width: calc(100% / 6);
            }
        .grid._1280-1-5 > .grid__item:nth-child(2n) {
            width: calc(100% / 6 * 5);
            }

    .grid._1280-1-4-1 {
        }
        .grid._1280-1-4-1 > .grid__item {
            width: calc(100% / 3 * 2);
            }
        .grid._1280-1-4-1 > .grid__item:nth-child(3n+1) {
            width: calc(100% / 6);
            }
        .grid._1280-1-4-1 > .grid__item:nth-child(3n) {
            width: calc(100% / 6);
            }
    }

/*960 grid*/

@media (max-width: 960px) {

    .grid._960 {
        }
        .grid._960 > .grid__item:nth-child(n) {
            width: 100%;
            }

    .grid._960-2 {
        }
        .grid._960-2 > .grid__item:nth-child(n) {
            width: calc(100% / 2);
            }

    .grid._960-3 {
        }
        .grid._960-3 > .grid__item:nth-child(n) {
            width: calc(100% / 3);
            }

    .grid._960-4 {
        }
        .grid._960-4 > .grid__item:nth-child(n) {
            width: calc(100% / 4);
            }

    .grid._960-5 {
        }
        .grid._960-5 > .grid__item:nth-child(n) {
            width: calc(100% / 5);
            }

    .grid._960-6 {
        }
        .grid._960-6 > .grid__item:nth-child(n) {
            width: calc(100% / 6);
            }

    .grid._960-2-1 {
        }
        .grid._960-2-1 > .grid__item {
            width: calc(100% / 3 * 2);
            }
        .grid._960-2-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 3);
            }

    .grid._960-1-2 {
        }
        .grid._960-1-2 > .grid__item {
            width: calc(100% / 3);
            }
        .grid._960-1-2 > .grid__item:nth-child(2n) {
            width: calc(100% / 3 * 2);
            }

    .grid._960-3-1 {
        }
        .grid._960-3-1 > .grid__item {
            width: calc(100% / 4 * 3);
            }
        .grid._960-3-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 4);
            }

    .grid._960-1-3 {
        }
        .grid._960-1-3 > .grid__item {
            width: calc(100% / 4);
            }
        .grid._960-1-3 > .grid__item:nth-child(2n) {
            width: calc(100% / 4 * 3);
            }

    .grid._960-1-2-1 {
        }
        .grid._960-1-2-1 > .grid__item {
            width: calc(100% / 2);
            }
        .grid._960-1-2-1 > .grid__item:nth-child(3n+1) {
            width: calc(100% / 4);
            }
        .grid._960-1-2-1 > .grid__item:nth-child(3n) {
            width: calc(100% / 4);
            }

    .grid._960-4-1 {
        }
        .grid._960-4-1 > .grid__item {
            width: calc(100% / 5 * 4);
            }
        .grid._960-4-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 5);
            }

    .grid._960-1-4 {
        }
        .grid._960-1-4 > .grid__item {
            width: calc(100% / 5);
            }
        .grid._960-1-4 > .grid__item:nth-child(2n) {
            width: calc(100% / 5 * 4);
            }

    .grid._960-1-3-1 {
        }
        .grid._960-1-3-1 > .grid__item {
            width: calc(100% / 5 * 3);
            }
        .grid._960-1-3-1 > .grid__item:nth-child(3n+1) {
            width: calc(100% / 5);
            }
        .grid._960-1-3-1 > .grid__item:nth-child(3n) {
            width: calc(100% / 5);
            }

    .grid._960-5-1 {
        }
        .grid._960-5-1 > .grid__item {
            width: calc(100% / 6 * 5);
            }
        .grid._960-5-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 6);
            }

    .grid._960-1-5 {
        }
        .grid._960-1-5 > .grid__item {
            width: calc(100% / 6);
            }
        .grid._960-1-5 > .grid__item:nth-child(2n) {
            width: calc(100% / 6 * 5);
            }

    .grid._960-1-4-1 {
        }
        .grid._960-1-4-1 > .grid__item {
            width: calc(100% / 3 * 2);
            }
        .grid._960-1-4-1 > .grid__item:nth-child(3n+1) {
            width: calc(100% / 6);
            }
        .grid._960-1-4-1 > .grid__item:nth-child(3n) {
            width: calc(100% / 6);
            }
    }

/*Mobile grid*/

@media (max-width: 767px) {

    .grid._mobile {
        }
        .grid._mobile > .grid__item:nth-child(n) {
            width: 100%;
            }

    .grid._mobile-2 {
        }
        .grid._mobile-2 > .grid__item:nth-child(n) {
            width: calc(100% / 2);
            }

    .grid._mobile-3 {
        }
        .grid._mobile-3 > .grid__item:nth-child(n) {
            width: calc(100% / 3);
            }

    .grid._mobile-4 {
        }
        .grid._mobile-4 > .grid__item:nth-child(n) {
            width: calc(100% / 4);
            }

    .grid._mobile-5 {
        }
        .grid._mobile-5 > .grid__item:nth-child(n) {
            width: calc(100% / 5);
            }

    .grid._mobile-6 {
        }
        .grid._mobile-6 > .grid__item:nth-child(n) {
            width: calc(100% / 6);
            }

    .grid._mobile-2-1 {
        }
        .grid._mobile-2-1 > .grid__item {
            width: calc(100% / 3 * 2);
            }
        .grid._mobile-2-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 3);
            }

    .grid._mobile-1-2 {
        }
        .grid._mobile-1-2 > .grid__item {
            width: calc(100% / 3);
            }
        .grid._mobile-1-2 > .grid__item:nth-child(2n) {
            width: calc(100% / 3 * 2);
            }

    .grid._mobile-3-1 {
        }
        .grid._mobile-3-1 > .grid__item {
            width: calc(100% / 4 * 3);
            }
        .grid._mobile-3-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 4);
            }

    .grid._mobile-1-3 {
        }
        .grid._mobile-1-3 > .grid__item {
            width: calc(100% / 4);
            }
        .grid._mobile-1-3 > .grid__item:nth-child(2n) {
            width: calc(100% / 4 * 3);
            }

    .grid._mobile-1-2-1 {
        }
        .grid._mobile-1-2-1 > .grid__item {
            width: calc(100% / 2);
            }
        .grid._mobile-1-2-1 > .grid__item:nth-child(3n+1) {
            width: calc(100% / 4);
            }
        .grid._mobile-1-2-1 > .grid__item:nth-child(3n) {
            width: calc(100% / 4);
            }

    .grid._mobile-4-1 {
        }
        .grid._mobile-4-1 > .grid__item {
            width: calc(100% / 5 * 4);
            }
        .grid._mobile-4-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 5);
            }

    .grid._mobile-1-4 {
        }
        .grid._mobile-1-4 > .grid__item {
            width: calc(100% / 5);
            }
        .grid._mobile-1-4 > .grid__item:nth-child(2n) {
            width: calc(100% / 5 * 4);
            }

    .grid._mobile-1-3-1 {
        }
        .grid._mobile-1-3-1 > .grid__item {
            width: calc(100% / 5 * 3);
            }
        .grid._mobile-1-3-1 > .grid__item:nth-child(3n+1) {
            width: calc(100% / 5);
            }
        .grid._mobile-1-3-1 > .grid__item:nth-child(3n) {
            width: calc(100% / 5);
            }

    .grid._mobile-5-1 {
        }
        .grid._mobile-5-1 > .grid__item {
            width: calc(100% / 6 * 5);
            }
        .grid._mobile-5-1 > .grid__item:nth-child(2n) {
            width: calc(100% / 6);
            }

    .grid._mobile-1-5 {
        }
        .grid._mobile-1-5 > .grid__item {
            width: calc(100% / 6);
            }
        .grid._mobile-1-5 > .grid__item:nth-child(2n) {
            width: calc(100% / 6 * 5);
            }

    .grid._mobile-1-4-1 {
        }
        .grid._mobile-1-4-1 > .grid__item {
            width: calc(100% / 3 * 2);
            }
        .grid._mobile-1-4-1 > .grid__item:nth-child(3n+1) {
            width: calc(100% / 6);
            }
        .grid._mobile-1-4-1 > .grid__item:nth-child(3n) {
            width: calc(100% / 6);
            }
    }

/*Features*/

.grid._solo-row {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    }

.grid._mobile-slider {

    }

.grid._vertical {
    flex-direction: column;
    }
    .grid._vertical > .grid__item {
        align-self: stretch;
        flex-basis: 50%;
        }
.grid._nom {
    margin: 0;
    }
    .grid._nom > .grid__item {
        padding: 0;
        }

/*Slider*/

.grid._slider {
    flex-wrap: nowrap;
    overflow: hidden;
    }
    .grid._slider > .grid__item {
        margin-left: 0;
        /*transition: margin 0.3s ease;*/
        transition-property: margin-left;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        }
    /*.grid._slider > .grid__item {*/
    /*    margin-left: 0;*/
    /*    transition: all 0.3s ease;*/
    /*    }*/

    .slider__control._next,
    .slider__control._prev {
        position: absolute;
        top: 50%;
        z-index: 13;
        width: 20px;
        height: 20px;
        border-width: 0;
        border-style: solid;
        border-color: #999999;
        font-size: 26px;
        cursor: pointer;
        transform: translateY(-50%) rotate(45deg);
        }
    .slider__control._next {
        right: -10px;
        border-right-width: 2px;
        border-top-width: 2px;
        }
    .slider__control._next:before {
        }
    .slider__control._prev {
        left: -10px;
        border-left-width: 2px;
        border-bottom-width: 2px;
        }
    .slider__control._prev:before {
        }
    .slider__dots {
        position: absolute;
        z-index: 25;
        /*top: 100%;*/
        bottom: 0;
        left: 17%;
        /*left: 0;*/
        right: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        /*justify-content: center;*/
        align-items: center;
        }
        .slider__dots-item {
            margin: 10px 5px;
            height: 16px;
            width: 16px;
            border: 2px solid #000000;
            border-radius: 50%;
            display: block;
            background: #ffffff;
            cursor: pointer;
            color: #ff0000;
            }
        .slider__dots-item._active {
            background: #000000;
            }

/*Media Queries*/

@media (max-width: 767px) {
    .grid._mobile-slider {
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        }
    }
