.header {
    position: fixed;
    z-index: 31;
    top: 0;
    left: 0;
    right: 0;
    padding-left: var(--header-pad-x);
    padding-right: var(--header-pad-x);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background: var(--header-bg-color);
    --color-primary: var(--color-white);
    }
    .header__logo,
    .header__logo:hover {
        position: relative;
        max-height: 36px;
        display: block;
        text-decoration: none;
        }
        .header__logo img {
            max-height: 36px;
            height: 100%;
            width: auto;
            display: block;
            }
    .header__nav {

        }
    .header__search {
        padding: 0 10%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        flex: 1 1 100%;
        }

/*Google Autocomplete*/

.header__search .c-search-overlay {
    --input-size: 48px;

    height: var(--input-size);
    width: 100%;
    -webkit-transform-origin: right;
    transform-origin: right;
    }

/*Media Queries*/

@media (max-width: 1599px) {

    }

@media (max-width: 1199px) {
    .header {
        --header-pad-x: 24px;
        }
    }

@media (max-width: 767px) {
    .header__search {
        padding: 0;
        justify-content: flex-end;
        }
        .header__search .c-search-overlay._focused {
            /*--input-size: var(--nav-height);*/
            --input-size: 62px;

            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;
            height: 100vh;
            background: var(--color-white);
            }
        .header__search .c-search-overlay:after {
            background-image: url('../img/icons/i-search-white.svg');
            cursor: pointer;
            }
    .header__search .pac-target-input {
        display: none;
        }
    .header__search .c-search-overlay._focused .pac-target-input {
        display: block;
        box-shadow: 1px 1px 1px 0px rgba(0,0,0,.12);
        }
    .header__search .c-search-overlay._focused .pac-container {
        box-shadow: none;
        }
    }

