@import 'variables.css';
@import 'header.css';
@import 'navigation.css';
@import 'footer.css';
@import 'socials.css';
@import 'gallery.css';
@import 'breadcrumbs.css';
@import 'estate-details.css';
@import 'common-form.css';
@import 'common-info-block.css';
@import 'common-block.css';
@import 'common-dropdown.css';
@import 'feedback.css';
@import 'map.css';
@import 'disclaimer.css';
@import 'about.css';
@import 'about-promo.css';
@import 'about-features.css';
@import 'contact-details.css';
@import 'search-page.css';
@import 'pagination.css';
@import 'partners.css';
@import 'featured-locations.css';
@import 'home-page.css';

body {
	--trans: var(--trans-prop) var(--trans-dur) var(--trans-timing);

	font-family: var(--font-main);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	color: var(--color-primary);
	background: var(--color-white);
	}

.wrapper {
	/*margin: 0 auto;*/
	/*padding-left: var(--c-pad-x);*/
	/*padding-right: var(--c-pad-x);*/
	padding-top: var(--nav-height);
	min-height: 100vh;
	/*max-width: 1500px;*/
	overflow: hidden;
	/*overflow-x: hidden;*/
	}

/*Slider Controls*/

.slider-control {
	position: absolute;
	z-index: 3;
	top: 50%;
	margin-top: calc((var(--slider-control-dimension) / 2) * -1);
	height: var(--slider-control-dimension);
	width: var(--slider-control-dimension);
	background: url(../img/icons/slider-arrow.svg) center no-repeat;
	cursor: pointer;
	}

.slider-control._prev {
	right: calc(var(--slider-control-dimension) + 16px);
	transform: rotateZ(180deg);
	}
.slider-control._next {
	right: 0;
	}
.slider-control._inactive {
	opacity: 0.45;
	}

/*Common Styles*/

a {
	display: inline-block;
	transition: var(--trans);
	color: var(--color-primary);
	}

a:focus,
a:hover {
	outline: none;
	text-decoration: none;
	color: var(--color-primary);
	}

input[id*='rigger'],
input[class*='rigger'] {
	display: none;
	}

.c-header {
	position: relative;
	padding-bottom: var(--c-head-pad-bottom);
	height: 400px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	}
.c-header._home {
	height: 600px;
	}
	.c-header__title {
		margin-bottom: 12px;
		max-width: 60%;
		display: block;
		font-family: var(--font-secondary);
		font-size: 56px;
		font-style: normal;
		font-weight: 400;
		line-height: 64px;
		color: var(--color-white);
		}
	.c-header__desc {
		max-width: 60%;
		display: block;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		color: var(--color-white);
		}

	.c-header__search {
		margin-top: 40px;
		margin-bottom: 40px;
		max-width: 50%;
		display: block;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 26px;
		color: var(--color-white);
		}
		.c-header__search * {
			width: 100%;
			}

	.c-header__down {
		--icon-dimension: 40px;

		position: absolute;
		bottom: 40px;
		left: 50%;
		margin-left: calc((var(--icon-dimension) / 2) * -1);
		height: var(--icon-dimension);
		width: var(--icon-dimension);
		background: url('../img/icons/arrow-down.svg') center no-repeat;
		background-size: contain;
		display: block;
		cursor: pointer;
		}

.c-inner {
	position: relative;
	margin: 0 auto;
	padding-left: var(--c-pad-x);
	padding-right: var(--c-pad-x);
	width: 100%;
	max-width: 1500px;
	}

.c-title {
	position: relative;
	padding: 59px 0 51px;
	display: block;
	font-family: var(--font-secondary);
	font-size: 46px;
	font-style: normal;
	font-weight: 400;
	line-height: 54px;
	}

.c-title._controls {
	padding-right: calc((var(--slider-control-dimension) * 2) + 32px);
	}

.c-btn {
	position: relative;
	padding: 14px;
	width: 100%;
	display: block;
	border: 1px solid var(--btn-primary-border);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: var(--btn-lh);
	text-align: center;
	background: var(--btn-primary);
	color: var(--color-white);
	transition: var(--trans);
	cursor: pointer;
	}

.c-btn:hover,
.c-btn:focus {
	border-color: var(--btn-primary-hover);
	background: var(--btn-primary-hover);
	color: var(--color-white);
	}

.c-btn,
.c-btn:hover,
.c-btn:focus {
	text-decoration: none;
	outline: none;
	}

.c-btn._secondary {
	border: 1px solid var(--btn-secondary-border);
	background: var(--color-white);
	color: var(--color-primary);
	}

.c-btn._secondary:hover,
.c-btn._secondary:focus {
	border-color: var(--btn-secondary-border);
	background: var(--btn-secondary);
	color: var(--color-primary);
	}

.c-btn._small {
	--btn-lh: 24px;

	padding: 12px 16px;
	border-radius: var(--borrad);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	text-align: center;
	}

.c-btn._filters:before {
	margin-right: 8px;
	width: var(--btn-lh);
	height: var(--btn-lh);
	display: inline-block;
	vertical-align: middle;
	background: url('../img/icons/i-filters.svg');
	content: '';
	}

.c-btn._close:before {
	width: var(--btn-lh);
	height: var(--btn-lh);
	display: inline-block;
	vertical-align: middle;
	background: url('../img/icons/i-close.svg');
	content: '';
	}

/*Listing Page*/

.listing__map {
	padding-bottom: var(--c-pad-bottom);
	border-bottom: 1px solid var(--color-1);
	}

/*Google Autocomplete*/

.c-search-overlay {
	--input-size: 62px;
	--icon-dimension: 24px;

	position: relative;
	}
.c-search-overlay:after {
	position: absolute;
	top: 0;
	right: 0;
	height: var(--input-size);
	width: var(--input-size);
	background: url('../img/icons/i-search.svg') center no-repeat transparent;
	background-size: var(--icon-dimension) var(--icon-dimension);
	transition: var(--trans);
	content: '';
	}

.c-search-overlay._focused:after {
	background-image: url('../img/icons/i-search-white.svg');
	background-color: var(--btn-primary);
	}

.pac-target-input {
	padding: 0 calc((var(--icon-dimension) * 2) + 12px) 0 24px;
	height: var(--input-size);
	width: 100%;
	border: 0px solid transparent;
	border-radius: var(--borrad);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
	}
.pac-target-input:focus {
	outline: none;
	border-radius: var(--borrad) var(--borrad) 0 0;
	}
.pac-target-input::placeholder {
	font-family: var(--font-main);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
	color: var(--color-2);
	}

.pac-container,
.pac-container * {
	font-family: var(--font-main);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 26px;
	text-align: left;
	color: var(--color-primary);
	}

.pac-item {
	padding: 14px 24px;
	background: var(--color-white);
	border-bottom: 0;
	transition: var(--trans);
	cursor: pointer;
	}

.pac-item:hover {
	background: var(--color-info);
	}

.pac-matched {
	font-weight: 500;
	}

.pac-icon {
	display: none;
	}

/*Media Queries*/

@media (max-width: 1599px) {
	.wrapper{
		--c-pad-x: 48px;
		}
	}

@media (max-width: 1199px) {
	.wrapper{
		--c-pad-x: 24px;
		}
	._home .c-header__title,
	._home .c-header__search,
	._home .c-header__desc {
		max-width: 100%;
		}
	}

@media (max-width: 767px) {
	.c-title {
		font-size: 38px;
		line-height: 42px;
		}
	.c-title._controls {
		padding-right: 0;
		}
	.c-header {
		padding-top: 60px;
		height: auto;
		display: none;
		}
	._home .c-header,
	.c-header._home {
		display: flex;
		}
		.c-header__title {
			max-width: 100%;
			font-size: 46px;
			font-style: normal;
			font-weight: 400;
			line-height: 54px;
			}
		.c-header__search,
		.c-header__desc {
			max-width: 100%;
			}
	.slider-control {
		display: none;
		}
	}
