.map {
    position: relative;
    height: 100%;
    }
    .map__main {
        position: relative;
        height: 490px;
        }
        .map__main-marker {
            --marker-dimension: 140px;

            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -70px;
            margin-top: -70px;
            width: var(--marker-dimension);
            height: var(--marker-dimension);
            background: url('../img/map-marker.svg') center no-repeat;
            }
        .map__main img {
            height: 100%;
            width: 100%;
            display: block;
            object-fit: cover;
            }

@media (max-width: 1199px) {
    .map__main {
        height: 360px;
        }
    }

@media (max-width: 767px) {
    .map__main {
        height: calc(100vw - (var(--c-pad-x) * 2));
        }
    }


