.nav {
    --color-primary: var(--color-white);

    position: relative;
    height: var(--nav-height);
    }
    .nav__list {
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        white-space: nowrap;
        overflow-x: auto;
        transition: var(--trans);
        }
        .nav__list-item {
            margin: 0 14px;
            padding: 0 2px;
            border-bottom: 2px solid transparent;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            text-transform: capitalize;
            transition: var(--trans);
            cursor: pointer;
            }
        .nav__list-item:hover {
            border-color: var(--color-primary);
            }
        .nav__list-item._active {
            border-color: var(--color-primary);
            cursor: default;
            }
        .nav__list-item:first-child {
            margin-left: 0;
            }
        .nav__list-item:last-child {
            margin-right: 0;
            }

/*Burger*/

.burger-overlay {
    --burger-dimension: 24px;

    position: relative;
    margin-left: 40px;
    height: var(--nav-height);
    width: calc(var(--nav-height) / 2);
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
    }
.burger {
    position: relative;
    height: 2px;
    width: var(--burger-dimension);
    display: block;
    background: var(--color-primary);
    transition: all 0.3s ease;
    /*cursor: pointer;*/
    }
.burger:before,
.burger:after {
    position: absolute;
    left: 0;
    height: 2px;
    width: 24px;
    background: var(--color-primary);
    content: '';
    transition: all 0.3s ease;
    }
.burger:before {
    top: 8px;
    /*top: 10px;*/
    }
.burger:after {
    bottom: 8px;
    /*bottom: 10px;*/
    }
#trigger:checked ~ .burger-overlay {
    /*background: #ffffff;*/
    }
#trigger:checked ~ .burger-overlay:hover {
    -webkit-animation-name: close;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    }
#trigger:checked ~ .burger-overlay .burger {
    background: transparent;
    }
#trigger:checked ~ .burger-overlay .burger:before {
    top: 0;
    transform: rotateZ(45deg);
    background: var(--color-primary);
    }
#trigger:checked ~ .burger-overlay .burger:after {
    bottom: 0;
    transform: rotateZ(-45deg);
    background: var(--color-primary);
    }

#trigger {
    display: none;
    }

/*Media Queries*/

@media (max-width: 1599px) {

    }

@media (max-width: 1199px) {
    .header .nav__list {
        position: fixed;
        top: var(--nav-height);
        left: 0;
        right: 0;
        padding-top: 0;
        height: 0;
        flex-direction: column;
        align-items: center;
        background: var(--header-bg-color);
        }
    .burger-overlay {
        display: flex;
        }
    #trigger:checked ~ .nav__list {
        padding-top: 32px;
        height: calc(100vh - var(--nav-height));
        }
        .header .nav__list-item:nth-child(n) {
            margin: 0 16px;
            padding: 16px 0;
            font-family: var(--font-secondary);
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: 36px;
            text-align: center;
            }
        .nav__list-item:hover,
        .nav__list-item._active {
            /*border-color: transparent;*/
            }
    }

@media (max-width: 767px) {
    .burger-overlay {
        margin-left: 12px;
        }
    }


