.pagination {
    --icon-dimension: 56px;
    --pagination-dimension: 44px;

    padding: 40px 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    }
    .pagination__main {
        margin-bottom: 16px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        }
        .pagination__list {
            margin: 0 32px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            }
            .pagination__list-item,
            .pagination__list-spacer {
                margin: 0 4px;
                height: var(--pagination-dimension);
                width: var(--pagination-dimension);
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                border-radius: 50%;
                background: transparent;
                transition: var(--trans);
                }
            .pagination__list-item{
                cursor: pointer;
                }
            .pagination__list-item:hover {
                text-decoration: none;
                color: var(--color-white);
                background: var(--btn-primary);
                }
            .pagination__list-item._active,
            .pagination__list-item._active:hover {
                color: var(--color-primary);
                background: var(--color-info);
                cursor: default;
                }
            .pagination__list-spacer {
                background-color: transparent;
                cursor: default;
                }
        .pagination__control {
            height: var(--icon-dimension);
            width: var(--icon-dimension);
            background: url(../img/icons/slider-arrow.svg) center no-repeat;
            background-size: contain;
            cursor: pointer;
            }
        .pagination__control._prev {
            transform: rotateZ(180deg);
            }
        .pagination__control._next {

            }
        .pagination__control._inactive {
            opacity: 0.45;
            }
    .pagination__info {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-align: center;
        opacity: 0.45;
        }

/*Media Queries*/

@media (max-width: 1599px) {

    }

@media (max-width: 1199px) {

    }

@media (max-width: 767px) {
    .pagination {
        --icon-dimension: 32px;
        --pagination-dimension: 32px;
        }
        .pagination__main {
            width: 100%;
            }
        .pagination__list {
            margin: 0 auto;
            }
            .pagination__list-item,
            .pagination__list-spacer {
                margin: 0 2px;
                }
    }




