.partners {
    padding-bottom: var(--c-pad-bottom);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    }
    .partners__item,
    .partners__item:hover {
        position: relative;
        display: block;
        flex: 0 0 auto;
        text-decoration: none;
        }
        .partners__item > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            }

/*Media Queries*/

@media (max-width: 1599px) {

    }

@media (max-width: 1199px) {

    }

@media (max-width: 767px) {
    .partners {
        flex-wrap: wrap;
        }
        .partners__item {
            margin: 6px 0;
            flex-basis: 33%;
            }
    }


