.wrapper {
    --c-pad-x: 48px;
    }
.search-page {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    }
.search-page > * {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    }
.search-page .c-block__pic {
    height: 240px;
    flex: 0 0 auto;
    }
.search-page .c-block__list--item {
    cursor: pointer;
    }
.c-btn.search-page__btn,
.search-page__btn {
    position: fixed;
    z-index: 25;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    display: none;
    bottom: 20px;
    border-radius: var(--borrad);
    box-shadow: var(--shadow);
    }
.search-page__main {
    padding-left: var(--c-pad-x);
    padding-right: var(--c-pad-x);
    transition: var(--trans);
    }
.search-page__main-title {
    margin-bottom: 24px;
    display: block;
    font-family: var(--font-secondary);
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    }
.search-page__controls {
    position: relative;
    margin-bottom: 32px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    }
.search-page__controls._sticky {
    position: fixed;
    z-index: 5;
    left: 0;
    top: var(--nav-height);
    padding: 12px var(--c-pad-x);
    width: 100vw;
    background: var(--color-white);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
    }
.search-page__controls-unit {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    }
.search-page__controls-unit._filter-label {
    display: none;
    }
.search-page__controls-item {
    position: relative;
    margin-right: 8px;
    display: block;
    }
.search-page__controls-item:last-child {
    margin-right: 0;
    }
.search-page__controls-btns {
    position: fixed;
    z-index: 39;
    bottom: 0;
    left: 0;
    padding: 20px 16px;
    width: 100%;
    display: none;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: var(--color-white);
    }
.search-page__controls-btns > .c-btn {
    width: auto;
    }
.search-page__map {
    --cluster-size: 40px;
    --cluster-border: 2px;
    --borrad: 4px;
    --pin-size: 16px;
    --pin-border: calc(var(--pin-size) / 8);

    position: fixed;
    z-index: 27;
    right: 0;
    top: var(--nav-height);
    bottom: 0;
    overflow: hidden;
    transition: var(--trans);
    }
.search-page__map > img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    }
.search-page__map-btn.c-btn._small,
.search-page__map-btn.c-btn,
.search-page__map-btn {
    --borrad: 2px;

    position: absolute;
    z-index: 3;
    width: auto;
    border-radius: var(--borrad);
    border: none;
    box-shadow: var(--shadow-light);
    display: none;
    }
.search-page__map-btn._filters {
    top: 24px;
    right: 24px;
    }
.search-page__map-btn._small._close,
.search-page__map-btn._close {
    top: 24px;
    left: 24px;
    padding: 12px 13px;
    }
.search-page__map-cluster {
    position: absolute;
    height: var(--cluster-size);
    width: var(--cluster-size);
    display: block;
    border: var(--cluster-border) solid var(--btn-primary);
    border-radius: 50%;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: calc(var(--cluster-size) - (var(--cluster-border) * 2));
    text-align: center;
    background: var(--color-white);
    color: var(--btn-primary);
    cursor: pointer;
    }
.search-page__map-pin {
    position: absolute;
    height: var(--pin-size);
    width: var(--pin-size);
    z-index: 3;
    cursor: pointer;
    }
.search-page__map-pin._inactive {
    --search-pin-color: var(--btn-primary);
    z-index: 2;
    }
.search-page__map-pin:before {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    margin-left: calc((var(--pin-size) / 2) * -1);
    height: var(--pin-size);
    width: var(--pin-size);
    display: block;
    border: var(--pin-border) solid var(--color-white);
    border-radius: 50%;
    background: var(--search-pin-color);
    content: '';
    }
.search-page__map-pin._closed > * {
    display: none;
    }
.search-page__map-pin-text {
    position: absolute;
    z-index: 1;
    top: calc(var(--pin-size) / 4 * 3);
    left: 50%;
    padding: 2px 8px;
    border-radius: var(--borrad);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    white-space: nowrap;
    color: var(--color-white);
    background: var(--search-pin-color);
    transform: translateX(-50%);
    }
.search-page__map-pin-list {
    --search-pin-list-size: 250px;

    position: absolute;
    top: calc(100% + 12px);
    margin-left: calc(var(--search-pin-list-size) / -2);
    width: var(--search-pin-list-size);
    max-height: 170px;
    overflow-x: hidden;
    overflow-y: auto;
    background: var(--color-white);
    }
.search-page__map-pin-list-item {
    height: 70px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--color-6);
    text-decoration: none;
    }
.search-page__map-pin-list-item:only-child {
    border-bottom: 0;
    }
.search-page__map-pin-list-unit {
    padding: 12px 0px 12px 16px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    }
.search-page__map-pin-list-unit:first-child {
    padding: 0;
    width: 62px;
    flex-grow: 0;
    flex-shrink: 0;
    }
.search-page__map-pin-list-unit > img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    }
.search-page__map-pin-list-item-price {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

    }
.search-page__map-pin-list-features {
    display: flex;
    }
.search-page__map-pin-list-features-item {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    white-space: nowrap;
    }
.search-page__map-pin-list-features-item:after {
    margin: 0 5px 0 4px;
    content: '·';
    }
.search-page__map-pin-list-features-item:last-child:after {
    content: none;
    }
.search-page__map-pin-list-adress {
    margin-top: 12px;
    margin-right: 12px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.45;
    display: none;
    }

/*Media Queries*/

@media (max-width: 1599px) {
    .search-page .c-info__details-item {
        padding-left: 22px;
        margin-right: 12px;
        }
    }

@media (max-width: 1199px) {
    .search-page > * {
        width: 100vw;
        }
    .c-btn.search-page__btn,
    .search-page__btn {
        width: 200px;
        display: block;
        }
    .search-page__map {
        right: -100vw;
        }
    .map-trigger:checked ~ .search-page__map {
        right: 0;
        }
    .search-page__map-btn.c-btn._small,
    .search-page__map-btn.c-btn,
    .search-page__map-btn {
        display: block;
        }
    .search-page__controls {

        }
    .search-page__controls-item {
        margin: 0;
        }
    .search-page__controls-btns {
        display: flex;
        }
    .search-page__controls-unit._main {
        position: fixed;
        z-index: 37;
        top: 0;
        left: 0;
        padding-top: 24px;
        /*padding-top: calc(var(--nav-height) + 24px);*/
        padding-bottom: 70px;
        width: 100vw;
        height: 100vh;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: stretch;
        overflow-y: auto;
        overflow-x: hidden;
        background: var(--color-white);
        display: none;
        }
    .search-page__controls-unit._filter-label {
        display: flex;
        }
    #filtersTrigger:checked ~ .search-page__controls-unit._main {
        display: flex;
        }
    }

@media (max-width: 767px) {
    .search-page__map-pin-list {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        top: auto;
        margin: 0;
        max-height: 160px;
        height: 100%;
        width: 100vw;
        border-radius: 6px 6px 0 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        overflow-x: auto;
        }
    .search-page__map-pin > .search-page__map-pin-list {
        display: none;
        }
    .search-page__map-pin-list-item {
        height: 100%;
        width: 95%;
        flex-grow: 0;
        flex-shrink: 0;
        }
    .search-page__map-pin-list-unit:first-child {
        width: calc(100% / 3);
        }
    .search-page__map-pin-list-adress {
        display: block;
        }
    .search-page .c-info__details-item {
        padding-left: 32px;
        margin-right: 32px;
        }
    }