.socials {
    --icon-dimension: 24px;

    margin-top: var(--socials-margin);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    }
    .socials__item {
        margin-right: 32px;
        width: var(--icon-dimension);
        height: var(--icon-dimension);
        display: block;
        text-decoration: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
        }
    .socials__item:last-child {
        margin-right: 0;
        }
    .socials__item._facebook {
        background-image: url(../img/icons/i-social-fb.svg);
        }
    .socials__item._instagram {
        background-image: url(../img/icons/i-social-insta.svg);
        }
    .socials__item._twitter {
        background-image: url(../img/icons/i-social-twitter.svg);
        }
    .socials__item._linkedin {
        background-image: url(../img/icons/i-social-in.svg);
        }
    .socials__item:hover {
        transform: translateY(-3px);
        }


