@import 'fonts.css';

:root {

	/*Block Variables*/

	--c-pad-x: 0px;
	--c-pad-bottom: 60px;
	--c-pad-top: 60px;
	--c-head-pad-bottom: 80px;

	--nav-height: 72px;

	--header-pad-x: 40px;

	--slider-control-dimension: 56px;

	--borrad: 2px;

	--btn-lh: 26px;

	/*Colors*/

	--color-primary: #01030B;
	--color-white: #FFFFFF;
	--color-info: #E8F6FF;
	--color-alert: #FF3A58;

	--color-1: #242525;
	--color-2: #575859;
	--color-3: #898A8C;
	--color-4: #B8B9BD;
	--color-5: #D1D3D7;
	--color-6: #EAEBEF;
	--color-7: #EFF0F3;
	--color-8: #FAFAFB;

	--btn-primary: #1354B3;
	--btn-primary-hover: #3570BF;
	--btn-primary-border: #1354B3;

	--btn-secondary: #FFFFFF;
	--btn-secondary-hover: #FFFFFF;
	--btn-secondary-border: #01030B;

	--header-bg-color: #001340;

	--footer-bg-color: #001340;
	--footer-border-color: rgba(255,255,255,0.15);

	--search-pin-color: #022366;

	/*Fonts*/

	--font-main: Roboto,-apple-system,BlinkMacSystemFont,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol!important;
	/*--font-main: SF Pro Text;*/

	--font-extra-1: Roboto,-apple-system,BlinkMacSystemFont,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol!important;
	/*--font-extra: SF Pro Display;*/

	--font-secondary: 'STIX Two Math';

	/*Transition*/

	--trans-prop: all;
	--trans-dur: .3s;
	--trans-timing: ease;

	/*Misc vars*/

	--shadow: 4px 4px 20px 0px rgba(0,0,0,0.4);
	--shadow-light: 2px 2px 4px rgba(0, 0, 0, 0.12);

	}

/*Media Queries*/

@media (max-width: 1599px) {

	}

@media (max-width: 1199px) {

	}

@media (max-width: 767px) {

	}


